<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- AZURE SETTINGS START -->
    <add key="AzureDocumentDbDatabaseId" value="" />
    <add key="AzureDocumentDbEndPoint" value="" />
    <add key="AzureDocumentDbAuthKey" value="" />
    <add key="AzureStorageEndPoint" value="" />
    <add key="AzureStorageContainerName" value="" />
    <add key="AzureStorageContainerDirectoryName" value="_mobileImages" />
    <add key="AzureEmotionApiKey" value="" />
    <add key="AzureEmotionApiEndPoint" value="" />
    <!-- AZURE SETTINGS END -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>